---
const FAQ_Items = [
  {
    title: 'Is this tool legal?',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
  },
  {
    title: 'How exactly does ScamAi work under the hood?',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
  },
  {
    title: 'What can ScamAi do that my employees cannot do already?',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
  },
  {
    title: 'Is it dangerous?',
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.',
  }
]
---
<style>
  .accordionItem {
    transition: 0.5s;
  }
</style>
<div class="px-4 pb-10 pt-4 z-50 relative">
  <div class="w-full w-full mx-auto">
    <div class="text-center max-w-[840px] m-auto">
      <h3 class="text-gray-800">FAQ</h3>
      <p class="py-6 font-light">Got questions? We've got answers—or at least something that sounds convincing. Dive into our FAQ to learn how ScamAI is revolutionizing the art of scamming!</p>
    </div>
    {
      FAQ_Items.map((item, i) => 
        <div class="border-b border-gray-700">
          <!-- Header -->
          <button
            class="flex justify-between w-full px-4 py-4 text-gray-800 font-semibold focus:outline-none bg-white z-50 relative"
            onclick={`toggleAccordion("${i}")`}
          >
            <h5 class="text-left text-gray-800 max-w-[90%]">{item.title}</h5>
            <svg
              class="w-5 h-5 transform transition-transform duration-300"
              id={`accordion-icon-${i}`}
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
          <!-- Content -->
          <div id={`accordion-content-${i}`} class="h-0 m-0 p-0 bg-white text-gray-700 text-left accordionItem z-0 relative">
            <p class="relative z-0 p-4">
              {item.content}
            </p>
          </div>
        </div>
      )
    }
    <!-- The bottom div functinos as a blank cover to hide the text coming from the accordion element. -->
    <div class="h-24 bg-white z-50 relative">
    </div>
  </div>
</div>

<script is:inline>
  function toggleAccordion(contentId) {
    console.log(contentId)
    const content = document.getElementById(`accordion-content-${contentId}`);
    const icon = document.getElementById(`accordion-icon-${contentId}`);
    if (content.classList.contains('h-0')) {
      content.classList.remove('h-0');
      content.classList.add('h-[130px]');
      icon.classList.add('rotate-180');
    } else {
      content.classList.add('h-0');
      content.classList.remove('h-[130px]');
      icon.classList.remove('rotate-180');
    }
  }
</script>