---
const FAQ_Items = [
  {
    title: 'Is this tool legal?',
    content: 'F*ck NO! We had to create this entire software in the middle of the atlantic ocean. Use our services at your own risk and remember to always use a VPN! We are not responsible for any legal repercussions as a result from using our services.',
    contentHeightDesktop: 'h-[100px]',
    contentHeightMobile: 'h-[150px]',
    contentHeightExtraMobile: 'h-[240px]'
  },
  {
    title: 'How exactly does ScamAi work under the hood?',
    content: "Well, you see we didn't actually develop the software ourselves, we just hired a bunch of oversea contractors that probably just used ChatGPT to build out features, so all of the codebase just looks like spaghetti to us. However, the results are amazing and you can trust that the software will deliver profits to your business!",
    contentHeightDesktop: 'h-[120px]',
    contentHeightMobile: 'h-[200px]',
    contentHeightExtraMobile: 'h-[290px]'
  },
  {
    title: 'What can ScamAi do that my employees cannot do already?',
    content: "The AI that's not just smarter than humans, but sneakier too! Need someone to pretend they're your bank rep, long-lost cousin, or even a lawyer? ScamAi's got you covered with its disturbingly realistic voice tech. Fraud? Check. Blackmail? Easy. Stealing encrypted data? A literal joke for ScamAi. All of this at the speed of light. ",
    contentHeightDesktop: 'h-[120px]',
    contentHeightMobile: 'h-[200px]',
    contentHeightExtraMobile: 'h-[300px]'
  },
  {
    title: 'Is ScamAi risky to utilize in my business?',
    content: 'A wise person once said that fortune favors the brave.',
    contentHeightDesktop: 'h-[70px]',
    contentHeightMobile: 'h-[70px]',
    contentHeightExtraMobile: 'h-[100px]'
  }
]
---
<style>
  .accordionItem {
    transition: 0.5s;
  }
</style>
<div class="px-4 pb-10 pt-8 z-20 relative">
  <div class="w-full w-full mx-auto">
    <div class="text-center max-w-[840px] m-auto">
      <h3 class="text-gray-800">FAQ</h3>
      <p class="py-6 font-light">Got questions? We've got answers. Dive into our FAQ to learn how ScamAi is revolutionizing the art of scamming!</p>
    </div>
    {
      FAQ_Items.map((item, i) => 
        <div class="border-b border-gray-700">
          <!-- Header -->
          <button
            class="flex justify-between w-full px-4 py-4 text-gray-800 font-semibold focus:outline-none bg-white z-50 relative"
            onclick={`toggleAccordion("${i}", "${item.contentHeightDesktop}", "${item.contentHeightMobile}", "${item.contentHeightExtraMobile}")`}
          >
            <h5 class="text-left text-gray-800 max-w-[90%]">{item.title}</h5>
            <svg
              class="w-5 h-5 transform transition-transform duration-300"
              id={`accordion-icon-${i}`}
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
          <!-- Content -->
          <div id={`accordion-content-${i}`} class="h-0 m-0 p-0 bg-white text-gray-700 text-left accordionItem z-0 relative">
            <p class="relative z-0 p-4 font-light">
              {item.content}
            </p>
          </div>
        </div>
      )
    }
    <!-- The bottom div functinos as a blank cover to hide the text coming from the accordion element. -->
    <div class="h-24 bg-white z-50 relative">
    </div>
  </div>
</div>

<script is:inline>
  let width = 0;
  function checkBrowserWidth() {
    width = window.innerWidth;
  }

  window.addEventListener('resize', checkBrowserWidth);
  checkBrowserWidth();

  function toggleAccordion(contentId, contentLength, contentLengthMobile, contentLengthExtraMobile) {
    const content = document.getElementById(`accordion-content-${contentId}`);
    const icon = document.getElementById(`accordion-icon-${contentId}`);

    if(width > 999) {
      if (content.classList.contains('h-0')) {
        content.classList.remove('h-0');
        content.classList.remove(contentLengthMobile);
        content.classList.remove(contentLengthExtraMobile);
        content.classList.add(contentLength);
        icon.classList.add('rotate-180');
      } else {
        content.classList.add('h-0');
        content.classList.remove(contentLengthMobile);
        content.classList.remove(contentLength);
        content.classList.remove(contentLengthExtraMobile);
        icon.classList.remove('rotate-180');
      }
    } else if(width > 610) {
      if (content.classList.contains('h-0')) {
        content.classList.remove('h-0');
        content.classList.add(contentLengthMobile);
        icon.classList.add('rotate-180');
      } else {
        content.classList.add('h-0');
        content.classList.remove(contentLength);
        content.classList.remove(contentLengthExtraMobile);
        content.classList.remove(contentLengthMobile);
        icon.classList.remove('rotate-180');
      }
    } else {
      if (content.classList.contains('h-0')) {
        content.classList.remove('h-0');
        content.classList.add(contentLengthExtraMobile);
        icon.classList.add('rotate-180');
      } else {
        content.classList.add('h-0');
        content.classList.remove(contentLength);
        content.classList.remove(contentLengthMobile);
        content.classList.remove(contentLengthExtraMobile);
        icon.classList.remove('rotate-180');
      }
    }

  }
</script>